<header>
    <div class="container-fluid">
        <div class="row sub-header">
            <div class="col-xs-12 sub-header-wrap">
                <h1>Xin Board</h1>
                <button {{action "newCard"}} class="btn btn-primary btn-sm" type="button" title="Add a new card">New Card</button>
                <button {{action "clear"}} class="btn btn-default btn-sm pull-right" type="button" title="Remove all cards">Clear</button>
            </div>
        </div>
    </div>
</header>

<section id="board">
    <div class="container-fluid">

        <!-- Column Header -->
        <div class="row column-header">
            <div class="col-xs-4"><h2>Backlog</h2></div>
            <div class="col-xs-4"><h2>In Progress</h2></div>
            <div class="col-xs-4"><h2>Done</h2></div>
        </div>

        <!-- Columns -->
        <div class="row columns-container">
            <div class="col-xs-4">
              {{#cards-container id="backlog" reorderCards=(action "reorderCards") cards=backlog as |card|}}
                {{story-card card=card id=card.id
                  updateCardTitle=(action "updateCardTitle") updateCardColor=(action "updateCardColor")
                  removeCard=(action "removeCard")}}
              {{/cards-container}}
            </div>
            <div class="col-xs-4">
              {{#cards-container id="in-progress" reorderCards=(action "reorderCards") cards=inProgress as |card|}}
                {{story-card card=card id=card.id
                  updateCardTitle=(action "updateCardTitle") updateCardColor=(action "updateCardColor")
                  removeCard=(action "removeCard")}}
              {{/cards-container}}
            </div>
            <div class="col-xs-4">
              {{#cards-container id="done" reorderCards=(action "reorderCards") cards=done as |card|}}
                {{story-card card=card id=card.id
                  updateCardTitle=(action "updateCardTitle") updateCardColor=(action "updateCardColor")
                  removeCard=(action "removeCard")}}
              {{/cards-container}}
            </div>
        </div>
    </div>
</section>
